---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import { Image } from 'astro:assets';
import arashiLogo from '../assets/arashi-logo.png';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div style="text-align: center; margin: 2rem 0;">
				<Image src={arashiLogo} alt="ARASHI Logo" width={200} height={200} style="display: inline-block;" />
			</div>
			
			<h1>✨ 歡迎來到我的創作世界</h1>
			
			<p style="font-size: 1.05em; line-height: 1.8;">
				你好！我是 Lizzy Amano，一個 ARASHI 的粉絲。
			</p>
			
			<p style="line-height: 1.8; margin: 1.5rem 0;">
				一切都是從《魔王》開始的。<br>
				看了大野智的演出後，深深被他的演技與魅力吸引，<br>
				從此成為他的粉絲，也因此認識了 ARASHI 這個溫暖的團體。
			</p>
			
			<p style="line-height: 1.8; margin: 1.5rem 0;">
				在追星的過程中，腦海裡總是浮現各種故事和畫面。<br>
				於是我開始提筆，用文字記錄下對他們的喜愛，<br>
				寫下那些在想像中無限延伸的故事。
			</p>
			
			<p style="font-size: 1.05em; line-height: 1.8; margin: 1.5rem 0;">
				這裡是我的同人作品集，也是我與嵐相遇的痕跡。<br>
				無論你是路過的訪客，還是和我一樣喜歡 ARASHI 的同好，<br>
				都歡迎你停留、閱讀，也歡迎留言交流，認識更多喜歡嵐的朋友！
			</p>
			
			<p style="margin-top: 2.5rem; line-height: 1.8; text-align: center; font-size: 1.1em;">
				點擊上方的 <strong>Blog</strong> 開始閱讀 📖
			</p>
		</main>
		<Footer />
	</body>
</html>
